<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <a href="/Zadaca1/views/form.ejs">Form</a>
    <a href="/Zadaca1/views/article.ejs">Artikli</a>
</header>

</body>
</html>